upstream my appl { 
    #least_conn;
    #ip_hash;

    server 172.18.0.2;
    server 172.18.0.3;
    server 172.18.0.4;
}


server
{
    listen 80;

    location / {
        proxy_pass http://myappl;
    }

    location/serv2/ { 
        rewrite /serv2 (.*) /break;
        proxy_pass http://172.18.0.3;
    }
}