@import "../../../assets/styles/variables.scss";


body {
    background-color: $black;
}
.card {
    width: 300px;
    margin:auto;
    margin-top: 20px;
    background-color: white;
    box-shadow: 20px;
}

.header-image{
    background-size: cover;
}

.card-header {
    background-color: gray;
    margin: 20px;
    border-radius: 10px;
}

.title-card {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.chip {
    background-color: grey;
    border-radius: 10px;
}